.footer{
    background-color: $rosaclaro2;
    margin-top: auto;
    color:$rosaoscuro;
    a{
        color: $rosa1;
        font-weight: bold;
    }
}
.logo-foot{
    align-items: center;
    justify-items: center;
    max-width: 170px;
}