.navbar{
    height: 120px;
    width: 100%;
    background-image: url(../Multimedia/Imagenes/fondo_navbar.svg); 
    font-family: 'Shantell Sans';
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
    padding: 20px!important;
}
.navbar-brand{
    background: none;
    & img{    
        display: inline-block;
        min-height: 50px;
    }
}
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}
.navbar .navbar-nav .nav-link ul li{
    list-style: none; 
    display: inline-block;
}
.navbar .navbar-nav .nav-link a{
    text-decoration: none;
    align-items: center;
    text-align: center;
    display: inline-block;
    padding: 25px;
}
.navbar .navbar-nav .nav-link.activo{
    background-color: $rosa1!important;
    border-radius: 40px;
    color: $rosaclaro;
}
.navbar-toggler-icon{
    color:$rosa1!important;
}
.navbar .navbar-nav .nav-link {
    padding: 0.6em;
}
.navbar .navbar-brand {
    padding: 0 0.6em;
}
@media only screen and (min-width: 992px) {
    .navbar {
    padding: 0;
}
.navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
}
.navbar .navbar-brand {
    padding: 0 0.8em;
}
}
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    background-color: $rosatrans;
    border-radius: 40px;
}
.navbar .navbar-nav .nav-link:hover {
    background-color: rgba(218, 56, 99,0.5);
    border-radius: 40px;
    transition: all 0.6s ease 0s;
    color: $rosaoscuro;
}
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: absolute;
    transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}
.navbar-toggler span {
    margin: 0;
    padding: 0;
}
.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $rosaoscuro;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar {
    margin-top: 0px;
}

/* cuando el menu hamburguesa esta colapsado */
.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* cuando el menu hamburguesa se clica */
.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
    align-items: right;
}
.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}
.navbar-toggler.collapsed .toggler-icon {
    background: $rosa1;
}