@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans';
}
@use 'header';
@use 'footer';
html{
    scroll-behavior: smooth;
}

// Paleta de colores//
$rosa1: #dd5271;
$rosaclaro: #f3dee0;
$rosaclaro2: #ffced2;
$rosaoscuro: #61202e;
$rosatrans: #c54f6979;
$rosatrans2: #ffd7dfd7;
$azul:#48abd5;
$rayas:     repeating-linear-gradient(
    90deg,
    #deecf5 20px,
    #deecf5 40px,
    #cde5f1 40px,
    #cde5f1 60px
);
$azulclaro: #cde5f1;

$c-beizer: cubic-beizer(.1,.22,.8,1.13);

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background: $rayas;
    color: $rosaoscuro;
    scrollbar-width: thin;
    scrollbar-color: $rosa1 $rosaclaro2;
}
.site-map{
    text-decoration: none;
    line-height: 1.75em;
    &:hover{
        color: $azul !important;
        }
}
.py-lg-10{
    padding: 25px;
}
main{
    padding: 2em;
}
.btn{
    background-color: $azul;
    border: 0px;
    border-radius: 20px;
    font-weight: bold;
    color: $azulclaro;
    text-decoration: none;
    &:hover{
        background-color: $rosa1;
        border: 0px;
        border-radius: 20px;
        color:$rosaoscuro;
        font-weight: bold;}
}
.bg-primary{
    background-color: $rosatrans2!important;
    border-radius: 20px;
    padding: 10px 3%;
    p{
        color: $rosaoscuro;
    }
}
h1{
    color: $rosa1!important;
    text-decoration: underline;
    font-weight: bold;
    text-align: left;
}
.site-map{
    a{
    font-size: 1em;
    line-height: 0.75em;
    }
}
.container {
    col{
        max-height: 300px;
        display:flex;
        align-items: center;
    }
}
.subseccion{
    background-color: $rosa1;
    color:#fff;
    border-radius: 20px;
    padding: 0.7em;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
.card{
    background-color: $rosaclaro;
    border-radius: 20px;
    border-color: $rosaclaro2;
    border-width: 6px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.col{
    padding: 20px;
    p{
        color: $rosaoscuro !important;
    }
    h2{
        color: $rosa1;
        font-weight: bold;
        text-align: left;
    }
    h3{
        color: $rosa1;
    font-weight: bold;
    text-align: center;
    }
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-block{
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}
.cuadro{
    background-color: $rosatrans2;
    border-radius: 20px;
}
.flip-card{
    width: 100%;
    height: 400px;
    &-inner{
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 20px rgba(#000,0.2);
        border-radius: 28px;
        text-align: center;
        transition: all 550ms cubic-bezier(.1,.22,.8,1.13);
        transform-style: preserve-3d;
    }
    &-front, &-back{
        width: 100%;
        height: 100%;
        border-radius: 28px;
        position: absolute;
        backface-visibility: hidden;
    }
    &-front{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        img{
            height: 100%;
            width: auto;
            align-items: center;
        }
    }
    &-back{
        font-size: 20px;
        text-align: center;
        display: grid;
        place-items: center;
        padding: 20px;
        background-color: $rosaclaro2;
        transform: rotateY(180deg);
        font-weight: 500;
        h2{
            color: $rosa1;
            text-shadow: 1px 1px 2px $rosaoscuro;
        }
    }
    &:hover .flip-card-inner{
        transform: rotateY(-180deg);
    }
}
.fondo{
    background-color: #fdced3b2;
    border-radius: 20px;
}
.list-unstyled{
    color: $rosaoscuro;
}
.carousel{ 
    img{
        max-height: 350px;
        display: flex;
        align-items: center;
    }
}
.lab-img {
    img{
        max-width: 100%;
        height: auto;
    }
}